.container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 3px var(--TetrinaryColor);
    width:80%;
    height:60%;
    background-color: var(--SecondaryColor);
}
.container2 {
    display: flex;
    flex-direction: row;
    width:100%;
}
.container3 {
    display: flex;
    flex-direction: column;
    width:100%;
}
.row{
    display: flex;
    flex-direction: row;
    background-color: var(--QuintupleColor);
}
.row div p {
margin-left: 7px;


}
.rectangle1 {
    position: relative;
    display:flex;
    flex-direction: column;
    align-self: center;
    border-bottom: 2px solid var(--TetrinaryColor);
    width: 100%;

  }
  
  .title {
    font-family: 'Inter';
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .subtitle {
    font-family: 'Inter';
    margin-top: 0%;
    align-self: center;
  }
  
  .rectangle2 {
    width: 286px;
    height: 367px;
  }
  
  .rectangle3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--QuaternionColor);
  }
  
  .rectangle3 > div {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19px;
    overflow: visible;
  }
  .image {
    min-height:307.986px;
max-height: 100%;
width:200px
  }
  .description{
    font: caption;
font-size:small;
width:100%;
overflow-wrap: break-word;
flex-shrink: 0;
white-space: pre-wrap;
  }