.BookTable{
  width:70%;
  border:3px solid black !important;
}
.BookTableDiv{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  padding: 0;
}
.BookTable , th,td{
    border: 1px double black;
    padding: 10px;
    border-collapse: collapse;
  }
  .BookTable th{
    background-color: var(--SecondaryColor);
  }
  .Booktable tr,td {
    text-align:center;
    background-color: white;
  }
  .BookTable tr td textarea{
    width:1048px;
    height: 174px;
    resize: none;
  }