.BookTable{
  width:70%;
}
.BookTable , th,td{
    border: 1px double black;
    padding: 10px;
    border-collapse: collapse;
  }
  .BookTable th{
    background-color: var(--SecondaryColor);
  }
  .Booktable tr,td {
    text-align:center;
  }
  .BookTable tr td textarea{
    width:1048px;
    height: 174px;
    resize: none;
  }