header {
    background-color: var(--SecondaryColor);
    padding: 0;
    margin: 0;
    height:14vh;
    justify-content: center;
    display:flex;
    align-items: center;
    border-bottom: 3px var(--TetrinaryColor) solid;
}
header h1{
    text-align: center;
}